<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Maps", controller: 'maps', action: 'index' %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>News</li>
    </ul>
  </nav>
</footer>